</main><!--end .main-->

<footer class="footer" role="contentinfo">
	<!--<nav class="footer-nav" role="navigation">
	    <ul class="footer-nav__list">
	        <li class="footer-nav__item"><a class="footer-nav__link" href="/">Home</a></li>
	        <li class="footer-nav__item"><a class="footer-nav__link" href="/download.html">Downloads</a></li>
	        <li class="footer-nav__item"><a class="footer-nav__link"href="/docs/index.html">Documentation</a></li>
	        <li class="footer-nav__item"><a class="footer-nav__link" href="/resources.html">Resources</a></li>
			<li class="footer-nav__item"><a href="/blog-index.html" class="footer-nav__link">Updates</a></li>
	        <li class="footer-nav__item"><a class="footer-nav__link" href="/demos">Demos</a></li>
	        <li class="footer-nav__item"><a class="footer-nav__link" href="https://github.com/pattern-lab/" rel="external" target="blank">On Github</a></li>
	    </ul>
	</nav>


	<div class="atomic-design small">
        <img src="/assets/atomic-design.svg" alt="Atomic Design" />
    </div>
-->
</footer><!--end footer-->

</body>
</html>
